/* Color Palette
TODO: This is copy-pasted from Cerberus to get us off the ground. Re-do all of this later.
#0b2027 - Charleston Green - Background, other dark elements.
#40798c - Teal Blue - A nice dark blue used for the navigation button background
#70a9a1 - Green Sheen - A muted blue-green. Used for the navigation rule.
#e2f89c - Mindaro - A bright muted yellow. Good for putting emphasis on text.
#70566d - Old Lavender - Generally backs the Mindaro elements.

Try to stick to these base colors so we can stay cohesive, but adjust brightness as needed.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    display: grid;
    width: 80%;
    align-content: center;
    background: #0B2027;
    color: lightgrey;
    margin: 0 auto;
  }

  .blog-index-entry p {
    display: grid;
    grid-template-columns: [post-title] 2fr [post-pub_date] 1fr;
    border: none;
    border-radius: .5rem;
    background-color: #70566d;
    color: #e2f89c;
    column-gap: .5rem;
    font-size: 1.25rem;
    padding: .25rem 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    transition-duration: 0.3s;
    @apply font-bold
  }
  
  .blog-index-entry p:hover {
    background-color: #e2f89c;
    color: #0b2027;
  }

  .cerb-nav {
    @apply pl-2 pt-2 pb-2 mt-2;
    display: inline-block;
    border: none;
    border-radius: .5rem;
    background-color: #70A9A1;
    width: 100%;
  }

  .cerb-nav-item {
    display: inline-block;
    border: none;
    border-radius: .5rem;
    padding: .25rem 1.5rem;
    text-decoration: none;
    background-color: #40798C;
    color: #fefefe;
    width: auto;
    transition-duration: 0.3s;
    filter: drop-shadow(0 0 0.15rem black);
    @apply pr-2 pl-2 mx-1 font-bold text-2xl
  }

  .cerb-nav-item:hover {
    background-color: #8a86c7;
    color: black;
  }

  .footer {
    display: block;
    margin-top: 1.5rem;
    text-align: center;
    font-size: .75rem;
  }

  .post-title {
    display: grid;
    text-align: center;
    border: none;
    border-radius: .5rem;
    background-color: #70566D;
    color: #E2F89C;
    @apply text-4xl font-bold mb-2 mt-2 pb-2
  }

  .post-body {
    display: grid;
    border: none;
    border-radius: .5rem;
    background-color: #70566d;
    color: #e2f89c;
    @apply p-2
  }
}
